name: Test

on:
    push:
        branches: [develop, main]
    pull_request:
        branches: [develop]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Install dependencies
              run: npm install
            - name: Run tests
              run: npx cypress run
            - name: Upload test results
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: cypress-results
                  path: |
                      cypress/videos
                      cypress/screenshots
